.DS_Store
.classpath
.project
.settings
.gradle
.vagrant
/build
/bin
/out
*.swp
.idea
*.iml
*.ipr
*.iws
.sass-cache
chromedriver.log
*.pid
/classes
vagrant_ansible_inventory_default
.gradletasknamecache
global.json
localConfig.json
secrets.json
cloud/config.js